.modal-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
  }
  
  .modal-content {
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 1000px;
    height: 500px;
    background: #fff;
    z-index: 1000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
  }

  .button {
    position: fixed;
    bottom: 10px;
    right: 30px;
  }


.comment-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.comment-profile {
  flex: 0 0 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.comment-profile img {
  width: 300px;
  height: 300px;
}

.comment-details {
  flex: 1;
}

.comment-detail-header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
  font-size: 0.9rem;
  color: #aaa;
}

.comment-content.detail-content {
  word-break: break-word;
  text-align: left;
  margin-bottom: 20px;
}

.detail-content p {
  margin: 0;
  line-height: 1.5;
}

.mb-3.button {
  display: flex;
  gap: 10px;
}

.mb-3.button .btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.mb-3.button .btn:hover {
  opacity: 0.8;
}
