@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Do+Hyeon&display=swap");
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');

* {
  font-family: "IBM Plex Sans KR", serif;
  font-weight: 400;
  font-style: normal;
}

.divider {
  border-top: 2px solid black;
  width: 100%;
  margin-bottom: 5px;
}

/* 헤더 고정 */
header {
  background-color: white;
  position: fixed;
  top : 0;
  left : 0;
  right: 0;
  z-index: 10;
  height: 200px;
}

body {
  padding-top: 400px;
}

/* 모든 컨텐츠 섹션의 크기 & 간격 조정 */
main {
  min-height: 100vh; /* 최소 높이를 화면 전체(viewport height)로 설정 */
  width: 100%;
  display: flex;
  flex-direction: column; /* 세로 방향 정렬 */
}

section > .teams, .goals-promise {
  min-height: 900px; /* 최소 높이를 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 0px;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 50px 20px; /* 패딩을 늘려서 여백 확보 */
  width: 100%; /* 전체 너비 차지 */
} 

