#guestbook {
  background-color: #f8f9fa; /* 부드러운 배경색 */
  padding: 50px 20px; /* 충분한 여백 */
  border-radius: 15px; /* 모서리 둥글게 처리 */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  max-width: flex; /* 최대 너비 자동 제한 */
  margin: auto; /* 중앙 정렬 */
  overflow: hidden; /* 내용이 넘치지 않게 처리 */
  display: flex; /*  레이아웃 설정 */
  flex-direction: column; /* 세로 방향으로 정렬 */
  justify-content: space-between; /* 여백 분배 */
  height: 00pxflex; /* 고정 높이 자동 */
}

#guestbook h1 {
  font-size: 2.5rem;
  color: #333;
  text-align: auto;
  margin-bottom: 80px;
  font-weight: bold;
}

.guestbook-list {
  display: flex;
  align-items: center;
  text-align: center;
  margin-bottom: 0px;
  background-color: #f8f9fa;
  border-radius: 10px;
  padding: 50px 20px; /* 패딩을 늘려서 여백 확보 */
  width: 100%; /* 전체 너비 차지 */
  justify-content: space-between;
}

.guestbook .container {
  /* display: flex; */
  flex-direction: column;
  gap: 10px;
  align-items: center;
  height: auto;  /* height 수정 */
}

.guestbook .container .row {
  /* display: flex; */
  justify-content: space-between; 
  gap: 10px;
  width: 100%;
}

.team-members li  {
  list-style-type: none;
}

.comment-item {
  background-color: white;
  padding: 13px;
  border-radius: 16px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  margin-bottom: 5px;
  transition: all 0.3s ease;
}

.comment-item:hover {
  transform: translateY(-13px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.comment-header {
  /* display: flex; */
  /* justify-content: space-between; */
  font-size: 1rem;
  margin-bottom: 13px;
}

.commenter-name {
  font-weight: bold;
  color: #007bff;
}

.comment-date {
  color: #aaa;
}

.comment-content p {
  font-size: 1.2rem;
  color: #555;
  line-height: 1.6; /* 줄 간격  */
}

.comment-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

button {
  background-color: #007bff; /* 파란색 버튼 */
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 30px; /* 버튼 둥글게 */
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* 버튼 호버 시 색상 변환 */
  align-self: flex-end; /* 버튼을 하단 우측에 배치 */
}

button:hover {
  background-color: #0056b3; /* 호버 시 어두운 파란색 */
}

button:focus {
  outline: none; /* 버튼 클릭 시 테두리 없애기 */
}

.guestbook .container {
  display: flex;
  flex-direction: row;
}

.comment-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}