.sepa-bg {
  /*분리공간*/
  width: 125%;
  height: 143%;
  position: absolute;
  margin: 0%;
  background: rgba(0, 0, 0, 0.13);
  z-index: 90;
  display: none;
  border-radius: 20px;
  box-shadow: 0px 5px 35px 15px rgba(0, 0, 0, 0.2);

  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.sepa-bg.hidden {
  opacity: 0;
  visibility: hidden;
}

.teamdt-bg {
  /*최상위*/
  position: fixed;
  width: 500%;
  height: 500%;
  background: rgba(0, 0, 0, 0);
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 20px 20px 30px 10px rgba(0, 0, 0, 0.5);
  z-index: 100;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.teamdt-bg.hidden {
  opacity: 0;
  visibility: hidden;
}

.teamdt-content {
  background-image: url("../assets/gridgray.png");
  background-position: center;
  background-size: cover;
  opacity: 0.95;
  padding: 20px;
  position: fixed;
  display: flex;
  width: 1080px;
  height: 600px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.image-box {
  background-image: url("http://www.lookmedia.co.kr/files/gallery/TG2.jpg");
  background-position: center;
  background-size: cover;
  width: 320px;
  height: 450px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border-radius: 10px;
  margin: 50px 70px 0px 50px;
}

.content-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.form-container {
  flex-grow: 1;
  width: 500px;
  margin: 80px 40px 40px 0px;
}
.form-control-name {
  flex-grow: 1;
  width: 300px;
  margin: 10px 10px 10px 15px;
  font-size: 30px;
  border-radius: 5px;
}
.form-control-dt {
  flex-grow: 1;
  width: 550px;
  height: 270px;
  margin: 10px 10px 10px 0px;
  font-size: 25px;
  border-radius: 10px;
}

.buttons {
  display: flex;
  gap: 120px;
  padding: 10px 10px 10px 190px;
}

.btn-success,
.btn-info {
  position: relative;
  border-radius: 100%;
  width: 55px;
  height: 55px;
  margin-left: -70px;
  /* cursor: pointer; */
}

.btn-with-bg1 {
  background-image: url("../assets/velog.ico");
  background-size: contain;
  background-position: center;
}
.btn-with-bg2 {
  background-image: url("../assets/github.ico");
  background-size: contain;
  background-position: center;
}

/* 추가부분 ********************************************* */
#nickname {
  position: absolute;
  color: black;
  padding: 5px 15px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  pointer-events: none; /* 툴팁이 마우스 이벤트에 영향 주지 않도록 */
  display: none;
  z-index: 1999;
}
