.teams {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: -50px auto 130px auto;
  background-color: transparent;
  position: relative;
  transform: translateX(-65px);
}

.teams ul {
  list-style: none;
  display: flex;
  gap: 0px;
  padding: 0;
}

.teams li {
  position: relative;
  /* 개별 요소 기준으로 after 배치 */
  display: inline-block;
  margin-right: -130px;
  z-index: 10;
}

.teams li::after {
  content: "";
  position: absolute;
  width: 150px;
  height: 80px;
  background-color: rgba(43, 43, 43, 0.458);
  border-radius: 50%;
  bottom: -20px;
  /* 원을 이미지 아래로 배치 */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  z-index: -1;
}

.teams li:hover::after {
  opacity: 1;
  transform: translateX(-50%) scale(1.2);
}

.teams img {
  transition: transform 0.2s ease-in-out;
}

.teams img:hover {
  transform: scale(1.1);
}

.teams li.infp { z-index: 15;}
.teams li.istj { z-index: 14;}
.teams li.estj { z-index: 13;}
.teams li.entp { z-index: 12;}
.teams li.intj { z-index: 11;}